<h1>QuizPol</h1>
<br><br>
<h4>Witaj w QuizPol, ucz się i baw!
<br><br>
W tej aplikacji masz szansę sprawdzić swoją wiedzę na najróżniejsze tematy. Pytania pochodzą z najróżniejszych dziedzin. Przygotwaliśmy dla Was wiele pytań, ale to nie wszystko, bo sami możecie dodawać pytania i sprawdzać tym samym wiedzę innych użytkowników. Odpowiadaj na pytania, zbieraj punkty, ucz się i co najważniejsze, świetnie się baw!
</h4>
<h2>Nie czekaj i dołącz do nas!</h2>
<%= link_to "Logowanie", new_user_session_path, class: 'btn btn-lg btn-primary' %>
<%= link_to "Rejestracja", new_user_registration_path, class: 'btn btn-lg btn-success' %>
